This subject of this project is the housing crisis in Ireland.
- Is this also seen in other European countries?
- Are new housing projects building enough to meet current demand?

In [7]:
import pandas as pd

In [18]:
import glob
from copy import deepcopy

# Data Ingestion

## IE Data First
This will later be replaced by mongodb calls using json versions of this data.

In [13]:
# https://data.gov.ie/dataset/ndq01-new-dwelling-completions/resource/8fdc8f87-88ca-43f7-aa16-dbc3a52cacde
ie_ndq1_orig = pd.read_csv('./datasets/ie/NDQ01.csv')

# https://data.gov.ie/dataset/ndq03-new-dwelling-completions/resource/45701f7f-1192-406f-980f-a8ee23862147
ie_ndq3_orig = pd.read_csv('./datasets/ie/NDQ03.csv')

# https://data.gov.ie/dataset/ndq05-new-dwelling-completion/resource/108d82d0-43f1-4574-9e47-bb54f078fd84
ie_ndq5_orig = pd.read_csv('./datasets/ie/NDQ05.csv')

# https://data.gov.ie/dataset/ndq06-new-dwelling-completion/resource/0b5041bb-9f52-4b54-8c8d-0000306e74e2
ie_ndq6_orig = pd.read_csv('./datasets/ie/NDQ06.csv')

# https://data.gov.ie/dataset/ndq07-new-dwelling-completion/resource/f9cf710c-b9cb-485f-b986-4b76cf6ef045
ie_ndq7_orig = pd.read_csv('./datasets/ie/NDQ07.csv')

# UK data

In [15]:
# https://www.ons.gov.uk/businessindustryandtrade/constructionindustry/datasets/outputintheconstructionindustrysubnationalandsubsector
uk_con_sub_nat_orig = pd.read_excel('./datasets/uk/bulletindataset6.xlsx')

# https://www.ons.gov.uk/businessindustryandtrade/constructionindustry/datasets/outputintheconstructionindustryallworksummary
uk_con_all_work_orig = pd.read_excel('./datasets/uk/bulletindataset1.xlsx')

# https://www.ons.gov.uk/businessindustryandtrade/constructionindustry/datasets/outputintheconstructionindustry
uk_con_output_orig = pd.read_excel('./datasets/uk/bulletindataset2.xlsx')

# EU data

In [16]:
# https://ec.europa.eu/eurostat/web/products-datasets/-/ei_bsbu_q_r2
eu_con_qtr_orig = pd.read_csv('./datasets/eu/ei_bsbu_q_r2.tsv')

# https://ec.europa.eu/eurostat/web/products-datasets/-/ei_isbu_q
eu_con_qtr_index_orig = pd.read_csv('./datasets/eu/ei_isbu_q.tsv')

# https://ec.europa.eu/eurostat/web/products-datasets/-/sts_copr_q
eu_con_qtr_prod_orig = pd.read_csv('./datasets/eu/sts_copr_q.tsv')

# Data Cleansing & Preparation

## IE Data

In [19]:
ie_ndq1 = deepcopy(ie_ndq1_orig)

In [20]:
ie_ndq1.head()

,STATISTIC,STATISTIC Label,TLIST(Q1),Quarter,C02342V02816,Type of House,UNIT,VALUE
0,NDQ01,New Dwelling Completions,20111,2011Q1,06,Single house,Number,1156
1,NDQ01,New Dwelling Completions,20111,2011Q1,07,Scheme house,Number,447
2,NDQ01,New Dwelling Completions,20111,2011Q1,08,Apartment,Number,272
3,NDQ01,New Dwelling Completions,20111,2011Q1,-,All house types,Number,1875
4,NDQ01,New Dwelling Completions,20112,2011Q2,06,Single house,Number,1194

In [21]:
ie_ndq1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 392 entries, 0 to 391
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   STATISTIC        392 non-null    object
 1   STATISTIC Label  392 non-null    object
 2   TLIST(Q1)        392 non-null    int64
 3   Quarter          392 non-null    object
 4   C02342V02816     392 non-null    object
 5   Type of House    392 non-null    object
 6   UNIT             392 non-null    object
 7   VALUE            392 non-null    int64
dtypes: int64(2), object(6)
memory usage: 24.6+ KB

In [31]:
ie_ndq1.pivot_table(index='STATISTIC Label',  columns='C02342V02816', values='VALUE', aggfunc='sum')

C02342V02816                                       -     06     07     08
STATISTIC Label
New Dwelling Completions                      169997  51549  85622  32826
Seasonally Adjusted New Dwelling Completions  170251  51772  85695  32789

In [33]:
ie_ndq1.pivot_table(index='Type of House',  columns='C02342V02816', values='VALUE', aggfunc='sum', fill_value=0)

C02342V02816          -      06      07     08
Type of House
All house types  340248       0       0      0
Apartment             0       0       0  65615
Scheme house          0       0  171317      0
Single house          0  103321       0      0